@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic.woff2') format('woff2'),
        url('../fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    --primary-color: rgb(197, 179, 164);
    --secondary-color: rgb(239, 234, 229);
    --accent-color: #007bff;
    --text-color: #000;
    --light-gray: rgba(0, 0, 0, .56);
    --white: #ffffff;
    --max-width: 1200px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;

}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tl-span {
    color: #0000008F;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
}

header {
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    backdrop-filter: blur(8px);
    mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
}

.logo img {
    height: 24px;
    width: auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 8px;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    padding: 14px;
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    background-color: rgb(239, 234, 229);
    transition: color 0.3s ease;
    border-radius: 10px;

}

.nav-menu li a img {
    border-radius: 50%;

}

.nav-menu li a img {
    height: 16px;
    width: 16px;

}

footer {
    background: var(--primary-color);
    z-index: 1;
    position: relative;

}

.tl-footer-wrap {
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.tl-content-block {
    text-align: center;

}

.tl-content-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 160px;
}

.tl-content-block .tl-footer-p p {
    font-size: 18px;
    color: #0000008F;
}

.tl-content-block .tl-footer-h1 {
    width: 100%;
    max-width: 700px;

}

.tl-content-block .tl-footer-h1 h1 {
    font-size: 64px;
    font-weight: 600;
}

.tl-content-block .tl-footer-h1 h1 span {
    color: #0000008F;
}

.tl-video-section video {
    cursor: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: block;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
}

.tl-btn .tl-get-in-touch {
    align-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    display: flex;
    height: 44px;
    flex-wrap: nowrap;
    padding: 0 58px 0 24px;
    background-color: rgb(239, 234, 229);
    border-radius: 100px;
    opacity: 1;
    width: 92px;
    font-size: 16px;
    color: #000;
    position: relative;
}

.tl-get-in-touch-icon {

    height: 16px;
    width: 16px;
    overflow: hidden;
    padding: 0 12px 0 0;
    position: absolute;
    right: 5px;
    top: calc(55% - 40px / 2);
    will-change: var(--framer-will-change-override, transform);
    background-color: rgb(248, 246, 244);
    padding: 10px;
    border-radius: 50%;
}

.tl-content-block {}

.tl-video-section {
    position: absolute;
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) intersect, linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    transform: translateX(-50%);
    opacity: 1;
    aspect-ratio: 2 / 1;
    bottom: 85px;
    flex: none;
    height: auto, 600px;
    left: 50%;
    position: absolute;
    width: 1200px;
    z-index: -1;
}

.tl-video-section .tl-hero-video-section2 {
    flex: 1 0 0px;
    height: 100%;
    position: relative;
    width: 1px;
}

.tl-footer-bottom {
    padding-top: 160px;
    display: flex;
    justify-content: space-between;
}

.tl-links {
    display: flex;
    gap: 32px;
}

.tl-links .tl-link-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tl-links .tl-link-column .tl-link-heading {
    font-size: 16px;
    font-weight: 400;
}

.tl-links .tl-link-column .tl-link-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tl-links .tl-link-column .tl-link-list .tl-link {
    font-size: 14px;
    color: #0000008F;
}

.tl-links .tl-link-column .tl-link-list .tl-link:hover {
    color: #000;
    transition: 1s;
}

.tl-branding {}

.tl-branding .tl-title {
    font-size: 30px;
}

.tl-branding .tl-description {
    width: 100%;
    max-width: 330px;
    font-size: 16px;
    color: #0000008F;
    line-height: 24px;
    padding: 24px 0;
}

.tl-branding .tl-meta .tl-copyright {
    font-size: 16px;
    color: #0000008F;
}

.tl-branding .tl-meta .tl-copyright strong {
    color: #000;
}

/* HERO SECTION  */
.tl-hero-section {
    position: relative;
    background-color: var(--primary-color);
    height: 650px;

}

.tl-hero-section .tl-hero-wrap {
    padding: 160px 0;
    position: fixed;
    width: 100%;
    max-width: 1200px;
}

.tl-hero-video-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 96.5%;
    justify-content: center;
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) add;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: -64px;
    top: calc(96.843931% - 190.46242774566474% / 2);
    width: 61%;
    will-change: var(--framer-will-change-effect-override, transform);
    z-index: 0;
}

.tl-hero-section .tl-hero-wrap .tl-hero-content {}

.tl-hero-section .tl-hero-wrap .tl-hero-content .tl-accepting-new-project {
    padding-bottom: 24px;
}

.tl-hero-section .tl-hero-wrap .tl-hero-content .tl-accepting-new-project p {
    background-color: #a1806e;
    border-radius: 50px;
    padding: 4px 12px;
    color: #ffffff;
    width: 160px;
}

.tl-hero-section .tl-hero-wrap .tl-hero-content .tl-hero-heading {
    width: 600px;
    padding-bottom: 16px;
}

.tl-hero-section .tl-hero-wrap .tl-hero-content .tl-hero-heading h1 {
    font-size: 64px;

}

.tl-hero-section .tl-hero-wrap .tl-hero-content .tl-hero-heading h1 span {
    color: #0000008F;
}

.tl-hero-section .tl-hero-wrap .tl-hero-content .tl-hero-description {
    width: 590px;
    padding-bottom: 32px;
}

.tl-hero-section .tl-hero-wrap .tl-hero-content .tl-hero-description p {
    font-size: 20px;
    color: #0000008F;
}

.tl-brand-logo ul {
    display: flex;
}

.tl-brand-logo ul li img {
    width: 200px;
    height: 53px;
}

.tl-brand {
    background: var(--secondary-color);
    position: relative;
    z-index: 1;
}

.tl-brand .tl-brand-wrap {
    text-align: center;
    padding: 160px 0;
}

.tl-brand .tl-brand-wrap .tl-raiting-img {
    padding-bottom: 24px;
}

.tl-brand .tl-brand-wrap .tl-brand-content h2 {
    font-size: 48px;
    padding-bottom: 24px;
}

.tl-brand .tl-brand-wrap .tl-luxe p {
    font-size: 20px;
    color: #0000008F;
    padding-bottom: 64px;
}

.tl-brand .tl-brand-wrap .tl-sub-heading p {
    font-size: 16px;
    color: #0000008F;
    padding-bottom: 32px;
}

.tl-brand .tl-brand-wrap .tl-brand-logo marquee {
    width: 500px;
}

.tl-strategy {
    position: relative;
    background: white;
    padding: 80px 0;

}

.tl-strategy .tl-strategy-wrapper {
    display: flex;
    gap: 24px;
}

.tl-strategy .tl-strategy-head {
    text-align: center;
}

.tl-strategy .tl-strategy-head h2 {
    font-size: 48px;
    padding-bottom: 16px;
}

.tl-strategy .tl-strategy-head p {
    font-size: 18px;
    color: #0000008F;
    padding-bottom: 64px;
}

.tl-strategy-card {
    background-color: #f8f4f6;
    padding: 32px;
    border-radius: 16px;
}

.tl-strategy-card .tl-card-logo {
    background-color: #A1806E;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.tl-strategy-card .tl-card-logo .tl-card-logo-svg {
    width: 32px;
    height: 32px;


}

.tl-strategy-card .tl-card-logo svg g path {
    width: 32px;
    height: 32px;
}

.tl-strategy-card .tl-strategy-short-description p {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 16px;
    background: none;
}

.tl-strategy-card .tl-strategy-description p {
    font-size: 16px;
    color: #0000008F;
}

.tl-accordions {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding: 80px 0;
}

.accordion {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: auto;
    
}
.tl-accordions .accordions-heading{
    text-align: center;
}
.tl-accordions .accordions-heading h2{
    padding-bottom: 16px;
    font-size: 40px;
}
.tl-accordions .accordions-heading p{
    font-size: 18px;
    color: #0000008F;
    padding-bottom: 64px;

}
.accordion-item {
    padding: 24px;
}

.accordion-header {
    padding-bottom: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}
.accordion-header h3{
    font-size: 20px;
}


.accordion-header.active {
    background-color: #e2e6ea;
}

.accordion-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-content p {
    margin: 0;
    font-size: 16px;
    color: #0000008F;
    line-height: 1.5rem;
}

.icon img{
    font-size: 1.2rem;
    transition: transform 0.3s;
    width: 18px;
    height: 18px;
    background: #f8f6f4;
    padding: 20px;
    border-radius: 50%;

}

.active .icon {
    transform: rotate(180deg);
    transition: transform 0.3s;


}
.icon {
    transform: rotate(0deg);
    transition: transform 0.3s;


}